#firstRoom{
    float:left;
    border-style: outset;
    margin-right: 17px;
   }
   
#SecondRoom{
    float:left;
     border-style: outset;
      margin-right: 17px;
   }
   
#ThirdRoom{
    float:left;
     border-style: outset;
      margin-right: 17px;
   }
#FourthRoom{
    float:left;
     border-style: outset;
      margin-right: 17px;
   }
#FifthRoom{
    float:left;
     border-style: outset;
      margin-right: 17px;
   }
#SixthRoom{
    float:left;
     border-style: outset;
     margin-bottom: 40px;
   }

